@page "/loadgame"

@inject IGameLoaderManager GameLoader;
@inject NavigationManager NavManager;
@inject ISuitFormatter SuitFormatter;

<div id="LoadGameBoard" class="game-info">
    <table>
        <thead>
            <tr>
                <th colspan="6">Saved Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Round</th>
                <th>Points</th>
                <th>Trump Suit</th>
                <th></th>
            </tr>
            @if (games != null && games.Any())
            {
                @foreach (var game in games)
                {
                    <tr>
                        <td>@game.Date.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@game.Type</td>
                        <td>@game.Rounds.Count()</td>
                        <td>@GetRoundPoints(game, PlayerPosition.First) / @GetRoundPoints(game, PlayerPosition.Second)</td>
                        <td>@SuitFormatter.FormatSuit(game.Deck.TrumpCard.Suit)</td>
                        <td><input type="radio" name="LoadGame" id="@game.Id" value="@game.Id" @onclick="() => SelectGame(game.Id)" /></td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <button type="button" class="btn btn-danger" @onclick="DeleteSelectedGame">Delete</button>
                    </td>
                    <td colspan="3">
                        <button type="button" class="btn btn-success" @onclick="LoadSelectedGame">Load</button>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="6">No Saved Games Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private string selectedGameId;
    private IEnumerable<Game> games;

    protected override async Task OnInitializedAsync()
    {
        games = await GameLoader.GetSavedGames();
    }

    private int GetRoundPoints(Game game, PlayerPosition playerPosition)
    {
        return game.Rounds
            .Where(x => x.WinnerPosition == playerPosition)
            .Sum(x => x.Points);
    }

    private void SelectGame(string gameId)
    {
        selectedGameId = gameId;
    }

    private async void DeleteSelectedGame()
    {
        if (!string.IsNullOrEmpty(selectedGameId))
        {
            await GameLoader.DeleteSavedGame(selectedGameId);
            games = await GameLoader.GetSavedGames();

            StateHasChanged();
        }
    }

    private async void LoadSelectedGame()
    {
        if (!string.IsNullOrEmpty(selectedGameId))
        {
            await GameLoader.LoadGame(selectedGameId);
            
            NavManager.NavigateTo($"/singleplayer");
        }
    }
}
